#moth-survey-map {
  height: 100%;
  width: 100vw;
  background-color: #5d5d5d;

  ion-spinner {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999999;
    color: white;
  }

  #toggle-info {
    display: none;
  }
  #toggle-info + label {
    font-size: 1.7em;
    width: 20px;
    height: 20px;
    margin: 4px;
    display: block;
    background: #ffffff4d;
    border-radius: 50%;
  }
  #toggle-info:checked + label {
    display: none;
  }
  #toggle-info:checked + label + div {
    background: #ccccccc7;
    padding: 3px 5px;
    border-radius: 6px;
    margin: 5px;
  }

  #toggle-info:not(:checked) + label + div {
    display: none;
  }
}
