#home-species ion-content.guide {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  #feedback-request {
    --background: inherit;
  }

  .info-message {
    --border-radius: 0;
    border-radius: 0;
    margin: 0;
    max-width: 100%; // for tablet overwrite

    ion-label {
      padding-bottom: 20px;
    }
  }

  .ion-no-padding {
    padding: 0;
  }

  &,
  .inner-scroll {
    margin: 0;
    padding: 0;
  }

  .species-list-item {
    --border-width: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --ion-grid-column-padding: 0;
    width: 105%;

    &.group {
      --background: var(--ion-color-dark-shade);
      --border-color: var(--ion-color-medium-shade);

      margin-top: 5px;

      .label {
        height: 100%;
        background: none;
      }
    }

    div {
      height: 50vw;
      width: 50vw;
      background-size: cover;
    }

    .label {
      width: 100%;
      color: white;
      border: 0;
      position: absolute;
      bottom: -1px;
      padding: 7px 15px;
      background: #00000099;
      font-size: 14px;
    }
  }
}
