a {
}

#home-species ion-content.guide {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  .ion-no-padding {
    padding: 0;
  }

  &,
  .inner-scroll {
    margin: 0;
    padding: 0;
  }
}
