#home-species ion-content.guide {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  .ion-no-padding {
    padding: 0;
  }

  &,
  .inner-scroll {
    margin: 0;
    padding: 0;
  }

  .species-list-item {
    --border-width: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --ion-grid-column-padding: 0;
    width: 105%;

    &.group {
      --background: var(--ion-color-dark-shade);
      --border-color: var(--ion-color-medium-shade);

      margin-top: 5px;

      .label {
        background: none;
        height: 100%;
      }
    }

    div {
      background-size: cover;
      width: 50vw;
      height: 50vw;
    }

    .label {
      position: absolute;
      bottom: -1px;
      border: 0;
      background: #00000099;
      padding: 7px 15px;
      width: 100%;
      color: white;
      font-size: 14px;
    }
  }
}
