ion-content.filters {
  --background: #000000c7;
  position: absolute;
  height: calc(100vh - 56px);

  ion-accordion {
    border-top: 1px #ffffff45 solid;
    background: transparent;
    font-weight: bold;

    ion-label {
      color: #fff9c8 !important;
      text-transform: uppercase;
    }

    ion-item[slot='header'] {
      border: none !important;
    }

    ion-list[slot='content'] {
      background: transparent;

      ion-item {
        --border-style: none;
      }
    }
  }

  ion-col {
    display: flex;
    padding: 15px;
    padding-right: 0;
    height: 50px;
    color: white;
    text-transform: capitalize;

    div.colour,
    img {
      margin-right: 10px;
      border-radius: 5px;
      width: 1em;
      height: 1em;
    }

    small {
      align-self: center;
      opacity: 0.8;
      margin-left: 5px;
    }
  }

  ion-item {
    --background: transparent !important;
    color: white;
    ion-icon {
      color: white;
    }
  }
}
