#surveys-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .leaflet-top {
    margin-top: 60px;
  }

  .square-leaflet-icon {
    background: #745a8f;
    height: 22px !important;
    width: 22px !important;
    margin-left: -11px !important;
    margin-top: -11px !important;
    border: 4px solid white;
  }
}
