#surveys-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .leaflet-top {
    margin-top: 60px;
  }

  .square-leaflet-icon {
    background: #745a8f;
    height: 22px !important;
    width: 22px !important;
    margin-left: -11px !important;
    margin-top: -11px !important;
    border: 4px solid white;
  }

  // attribution
  .leaflet-control-attribution.leaflet-control {
    background: transparent;
    padding: 0;
  }
  #toggle-info {
    display: none;
  }
  #toggle-info + label {
    font-size: 1.7em;
    width: 20px;
    height: 20px;
    margin: 4px;
    display: block;
    background: #ffffff4d;
    border-radius: 50%;
  }
  #toggle-info:checked + label {
    display: none;
  }
  #toggle-info:checked + label + div {
    background: #ccccccc7;
    padding: 3px 5px;
    border-radius: 6px;
    margin: 5px;
  }

  #toggle-info:not(:checked) + label + div {
    display: none;
  }
}
