#species-search-header {
  .app-name {
    color: black;
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
    letter-spacing: -0.5px;
    text-align: center;

    &.md {
      padding: 0;
    }

    b {
      color: var(--color-primary-700);
      font-weight: 600;
    }
  }

  ion-toolbar {
    --ion-toolbar-background: white;
    --color: black;

    padding-top: env(safe-area-inset-top);
  }
}
