#species-search-header {
  .app-name {
    font-size: 32px;
    font-weight: 300;
    line-height: 49px;
    text-align: center;
    color: black;
    font-family: inherit !important;

    &.md {
      padding: 0;
    }

    b {
      color: var(--ion-color-primary);
      font-family: inherit !important;
      font-weight: 600;
    }
  }

  ion-toolbar {
    --ion-toolbar-background: white;
    --color: black;

    padding-top: 0;
  }
}
