#species-search-header {
  .app-name {
    color: black;
    font-weight: 300;
    font-size: 32px;
    line-height: 49px;
    font-family: inherit !important;
    text-align: center;

    &.md {
      padding: 0;
    }

    b {
      color: var(--ion-color-primary);
      font-weight: 600;
      font-family: inherit !important;
    }
  }

  ion-toolbar {
    --ion-toolbar-background: white;
    --color: black;

    padding-top: env(safe-area-inset-top);
  }
}
