.app-settings {
  .app-version {
    opacity: 0.6;
    width: 100%;
    text-align: right;
    padding: 10px;
    margin: 0;

    // tablet friendly
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  ion-icon {
    font-size: 18px !important;
  }
}
