.survey-list-item {
  border-radius: 10px;
  background: white;
  --border-style: none;
  margin: 6px auto;
  max-width: 600px; // ipad

  ion-item {
    --border-color: transparent;
  }

  .pretty-date {
    margin-bottom: 10px;
    font-size: 0.8em;
  }
}
