#precise-area-count-edit-occurrence {
  #area-count-occurrence-edit-count {
    div[slot='end'] {
      margin-right: -20px;

      span {
        display: inline-block;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
        opacity: 0.5;
        width: 20px;
        text-align: center;
      }
    }

    &.item-disabled span {
      margin-right: 20px;
    }
  }

  .attributes {
    max-width: 90% !important;

    .wraps {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;

      ion-badge {
        display: flex;
        min-width: fit-content;
      }
    }
  }

  .other-value,
  .wing-value {
    margin: 0 !important;
  }

  .other-value {
    display: block !important;
    margin: 0 !important;
    font-weight: 400 !important;
  }

  .direction-wrapper {
    display: flex;
    ion-icon {
      transform: rotate(45deg);
    }
    ion-label {
      font-weight: 400 !important;
    }
  }

  .direction-icon ion-icon {
    transform: rotate(45deg) !important;
  }

  .altitude-icon ion-icon {
    transform: rotate(135deg);
  }

  .behaviour-value {
    ion-label[slot='end'] {
      opacity: 1 !important;

      .behaviour-label ion-label {
        opacity: 0.6;
      }
    }
  }

  .item-disabled {
    opacity: 1;
  }

  .behaviour-label {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1 !important;

    .icon {
      opacity: 1;
      margin-right: 5px;
      border-radius: 50%;
      width: 19px;
      height: 19px;
    }

    ion-label {
      max-width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
#attr-page-eggLaying,
#attr-page-wing {
  .checkbox-input-attr ion-item {
    --padding-start: 0;

    img {
      margin-right: 15px;
      max-width: 100px;
    }
  }
}

#attr-page-wing {
  .checkbox-input-attr ion-item {
    --padding-start: 0;

    img {
      margin-right: 15px;
      background: linear-gradient(
        187deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(238, 227, 227, 1) 0%,
        rgba(240, 234, 218, 1) 87%
      );
      max-width: 100px;
    }
  }
}
