.search-result {
  &:nth-child(odd) {
    border-radius: 10px;
    background-color: #fff;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--ion-color-light);
  }

  .group {
    position: absolute;
    right: 14px;
    bottom: 4px;
    color: var(--ion-color-dark);
    font-weight: 200;
    font-size: 14px;
  }

  @media only screen and (min-width: 400px) {
    span.group {
      right: 90px;
    }
  }
}
