#area-count-edit-occurrence {
  #area-count-occurrence-edit-count {
    div[slot='end'] {
      margin-right: -20px;

      span {
        width: 20px;
        opacity: 0.5;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
      }
    }

    &.item-disabled span {
      margin-right: 20px;
    }
  }

  .item-disabled {
    opacity: 1;
  }
}
