#area-count-occurrence-edit-count {
  div[slot='end'] {
    margin-right: -20px;
    span {
      width: 20px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      vertical-align: -webkit-baseline-middle;
    }
  }
}
