#help.ion-page ion-content {
  * {
    --background: transparent;
  }

  .rounded {
    background: white;
  }

  ion-label {
    font-weight: 500;
  }

  ion-item-divider {
    --background: var(--ion-color-light-shade);
    --color: var(--ion-color-light-contrast);
  }

  ion-item-divider:not(:first-of-type) {
    margin-top: 30px;
  }

  .help-page-record-start-icon {
    color: white;
    vertical-align: bottom;
    background: var(--ion-color-primary);
    border-radius: 50%;
    padding: 3px;
    margin: 0 6px;
  }
}
