#moth-survey-map {
  .leaflet-popup-content {
    ion-button {
      width: 100%;
      height: 25px;
      text-transform: capitalize;
    }
  }

  .my-custom-pin {
    span {
      background-color: var(--ion-color-primary);
      width: 2rem;
      height: 2rem;
      display: block;
      position: relative;
      border-radius: 50%;
      border: 2px solid #ffffff;
    }

    &.V span {
      background-color: var(--ion-color-primary);
    }
  }

  .my-custom-pin.selected span {
    background-color: #f59c05;
  }

  .marker-cluster {
    background-color: var(--ion-color-primary);
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.1em;
  }

  .leaflet-popup {
    left: -83px !important;
    bottom: -3px !important;

    .leaflet-popup-content {
      margin: 10px;
      width: 160px !important;

      div {
        display: flex;
        margin: 5px 0;
        align-items: center;
        font-size: 1.1em;

        ion-icon {
          color: var(--ion-color-primary);
          font-size: 1.5em;
        }

        div {
          flex: 1;
          justify-content: left;

          ion-label {
            font-size: 1em;
            margin-left: 15px;
            letter-spacing: 0px;
            color: #2d2338;
          }
        }
      }
    }
  }
}
