ion-toolbar .training-survey {
  height: 65px;
  background: black;
  margin: -4px;
  margin-bottom: -14px;
  text-align: center;
  line-height: 60px;
}

.ios ion-toolbar .training-survey {
  height: 44px;
  margin-bottom: -4px;
  line-height: 44px;
}