.compass-big {
  opacity: 0.8;
  z-index: 9000;
  background: #000;
}

#box {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%) translateX(-50%);
  z-index: 9001;
  border-radius: 10px;
  width: 100%;
  height: 100%;

  .close-button {
    position: absolute;
    top: 5px;
    left: 5px;
    padding-top: var(--ion-safe-area-top, 0);

    ion-icon {
      border-radius: 50%;
      background: white;
      padding: 10px;
      font-size: 2em;
    }
  }

  .compass-wrapper {
    position: absolute;
    top: 90px;
    width: 90vw;
    height: 90vw;

    .value {
      color: white;
      font-size: 3em;
      text-align: center;

      p {
        margin-top: 0;
      }
    }
    #compass {
      position: absolute;
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }
}
