#species-profile {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: white;

  .species-label {
    border-left: 3px solid var(--color-primary-600);
    padding-left: 5px;
    font-weight: 600;
    font-size: 0.875rem;
    text-transform: uppercase;
  }

  .species-habitats {
    text-transform: capitalize;
  }

  #species-map {
    margin: 0 auto;
    background-color: #474c4a !important;
    width: 100%;
    max-width: 500px;
    height: 200px;
  }

  .swiper {
    background: var(--ion-page-background);
    overflow: visible;

    .species-profile-photo {
      position: relative;
      background: var(--ion-page-background);
      height: 240px;
      overflow: hidden;
    }

    .swiper-pagination {
      position: absolute;
      bottom: -20px;
      background: var(--ion-page-background);

      .swiper-pagination-bullet {
        opacity: 0.5;
        --bullet-background: var(--ion-color-medium);
      }
      .swiper-pagination-bullet-active {
        opacity: 0.8;
        background: var(--ion-color-primary);
      }
    }
  }
}
