#species-profile {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: white;

  ion-card-header {
    background: var(--ion-page-background);

    ion-card-title {
      color: var(--ion-color-primary-shade);
      font-size: 1.4em;
      margin: 0 0 8px;
      font-weight: bold;
    }

    ion-card-subtitle {
      margin-top: 8px;
      text-transform: none;
      font-weight: 400;
      font-size: 1.2em;
      color: black;
    }
  }

  ion-card-content {
    margin-top: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }

  ion-card-content.description {
    padding-bottom: 15px;
  }

  .species-label {
    font-weight: bold;
    border-left: 3px solid var(--ion-color-primary);
    padding-left: 5px;
    text-transform: uppercase;
    margin: 10px auto 15px;
  }
  .species-label.inline-label {
    display: inline-block;
    margin-right: 5px;
  }

  .species-habitats {
    text-transform: capitalize;
  }

  #species-map {
    height: 200px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #474c4a !important;
  }

  .swiper {
    background: var(--ion-page-background);
    overflow: visible;

    .species-profile-photo {
      position: relative;
      overflow: hidden;
      height: 240px;
      background: var(--ion-page-background);
    }

    .swiper-pagination {
      position: absolute;
      bottom: -20px;
      background: var(--ion-page-background);

      .swiper-pagination-bullet {
        opacity: 0.5;
        --bullet-background: var(--ion-color-medium);
      }
      .swiper-pagination-bullet-active {
        opacity: 0.8;
        background: var(--ion-color-primary);
      }
    }
  }
}
