#species-profile {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: white;

  .species-label {
    @apply border-l-[3px] border-solid border-l-primary pl-[5px] text-sm font-semibold uppercase;
  }

  .species-habitats {
    text-transform: capitalize;
  }

  #species-map {
    height: 200px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #474c4a !important;
  }

  .swiper {
    background: var(--ion-page-background);
    overflow: visible;

    .species-profile-photo {
      position: relative;
      overflow: hidden;
      height: 240px;
      background: var(--ion-page-background);
    }

    .swiper-pagination {
      position: absolute;
      bottom: -20px;
      background: var(--ion-page-background);

      .swiper-pagination-bullet {
        opacity: 0.5;
        --bullet-background: var(--ion-color-medium);
      }
      .swiper-pagination-bullet-active {
        opacity: 0.8;
        background: var(--ion-color-primary);
      }
    }
  }
}
