#survey-moth-home {
  #list {
    ion-item {
      --padding-start: 0;

      ion-label {
        margin-left: 16px;
        font-weight: 700;
      }
    }

    ion-item {
      --padding-start: 0;
    }
  }

  #species-list-sort {
    text-align: end;
    ion-button {
      margin-right: 5px;
    }
  }
}
