#precise-area-count-edit {
  ion-spinner {
    width: 15px;
  }

  ion-list {
    margin-bottom: 0;
  }
  .item-disabled #countdown {
    margin-right: 10px;
  }

  .copy-slider ion-icon {
    margin: 0 10px;
    font-size: 1.3em;
  }

  #countdown {
    margin-right: 7px;
  }

  #countdown span {
    width: 50px;
    text-align: left;
  }

  #species-list-sort {
    text-align: end;
    ion-button {
      margin-right: 12px;
      margin-bottom: 10px;
    }
  }

  #list {
    ion-item {
      --padding-start: 0;

      .behaviour-label {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1 !important;

        .icon {
          opacity: 1;
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }

        ion-label {
          max-width: 90px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      ion-label {
        margin: 7px;
      }
    }

    .direction-wrapper {
      display: flex;
      ion-icon {
        transform: rotate(45deg);
      }
      ion-label {
        font-weight: 400 !important;
      }
    }

    .direction-icon {
      ion-icon {
        transform: rotate(45deg) !important;
      }
    }

    .altitude-icon {
      ion-icon {
        transform: rotate(135deg);
      }
    }

    ion-item {
      --padding-start: 0;
    }
  }

  .location-spinner {
    max-width: 30px;
    max-height: 23px;

    ion-spinner {
      margin-top: -4px;
      width: 15px;
    }
  }
}

ion-alert.speciesGroupAlert {
  .alert-message {
    padding: 7px;
  }
}

.copy-attributes-alert {
  .alert-message div {
    display: inline-flex;
    position: relative;
    top: 4px;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 10px;
    background: var(--ion-color-tertiary);
    width: 30px;
    height: 30px;

    ion-icon {
      font-size: '1em';
    }
  }
}
