#precise-area-count-edit {
  ion-spinner {
    width: 15px;
  }

  .website-link {
    margin: 10px auto 0;
    max-width: 80%;
  }

  .info-background-message {
    max-width: 300px;

    span {
      padding: 20px 10px;
    }
  }

  ion-list {
    margin-bottom: 0;
  }
  .item-disabled #countdown {
    opacity: 0.5;
    margin-right: 10px;
  }

  .copy-slider ion-icon {
    margin: 0 10px;
    font-size: 1.3em;
  }

  #countdown {
    opacity: 1;
    margin-right: 7px;
  }

  #countdown span {
    width: 50px;
    display: inline-block;
    text-align: left;
    opacity: 0.5;

    &.paused {
      opacity: 1;
      width: inherit;
      padding: 0 10px;
      color: var(--ion-color-tertiary);
    }

    &.warn {
      opacity: 1;
      color: var(--ion-color-danger);
    }
  }

  #add {
    width: 40%;
    margin: 30px 0 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }

  #add-single {
    width: 40%;
    margin: 10px 0;
    margin-left: 50%;
    transform: translate(-50%, 0);

    ion-label {
      margin: 0 30px;
    }
  }

  #species-list-sort {
    text-align: end;
    ion-button {
      margin-right: 12px;
      margin-bottom: 10px;
    }
  }

  #list {
    font-weight: bold;

    .species-list-header {
      background: #e6e6e6 !important;
      color: #777777;

      padding-left: 7px;
      --inner-padding-end: 0;
      &.ios {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      ion-label {
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 0.9em;

        &:nth-of-type(2) {
          padding-left: 16px;
          text-align: left;
        }
        &:first-of-type {
          max-width: 54px;
        }
        &:last-of-type {
          max-width: 50px;
        }
      }
    }

    ion-item {
      --padding-start: 0;

      .time {
        max-width: fit-content;
        min-width: 50px;
      }

      .behaviour-label {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1 !important;

        .icon {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          opacity: 1;
        }

        ion-label {
          max-width: 90px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      ion-label {
        margin: 7px;
      }

      ion-label.title {
        font-weight: 700;
      }

      ion-label.time {
        margin: 7px;
        font-weight: 400;
      }
    }

    .attributes {
      max-width: 90% !important;
      margin-left: 0 !important;

      .wraps {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;

        ion-badge {
          display: flex;
          min-width: fit-content;
        }
      }
    }

    .other-value,
    .wing-value {
      margin: 0 !important;
    }

    .other-value {
      margin: 0 !important;
      font-weight: 400 !important;
      display: block !important;
    }

    .direction-wrapper {
      display: flex;
      ion-icon {
        transform: rotate(45deg);
      }
      ion-label {
        font-weight: 400 !important;
      }
    }

    .direction-icon {
      ion-icon {
        transform: rotate(45deg) !important;
      }
    }

    .altitude-icon {
      ion-icon {
        transform: rotate(135deg);
      }
    }

    ion-item {
      --padding-start: 0;
    }
  }

  .location-spinner {
    max-height: 23px;
    max-width: 30px;

    ion-spinner {
      margin-top: -4px;
      width: 15px;
    }
  }

  .location-icon {
    display: flex;
  }
}

ion-alert.speciesGroupAlert {
  .alert-message {
    padding: 0;
  }
}

.copy-attributes-alert {
  .alert-message div {
    width: 30px;
    height: 30px;
    background: var(--ion-color-secondary);
    display: inline-flex;
    justify-content: center;
    margin: 0 5px;
    position: relative;
    align-items: center;
    top: 4px;
    border-radius: 10px;

    ion-icon {
      font-size: '1em';
    }
  }
}
