#moth-trap-setup {
  .species-list-header {
    background: #e6e6e6 !important;
    color: #777777;
    font-size: 0.9em;
    padding-left: 7px;
    --inner-padding-end: 0;
    &.ios {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    ion-label {
      width: 100%;
      font-weight: normal;

      &:nth-of-type(2).ios {
        padding-right: 16px;
        overflow: hidden;
        white-space: nowrap;
      }
      &:nth-of-type(2).md {
        padding-right: 22px;
        overflow: hidden;
        white-space: nowrap;
      }
      &:first-of-type {
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
      }
      &:last-of-type {
        max-width: min-content;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
