#suggestions .empty {
  width: 80%;
  max-width: 250px;
  margin: 50px auto 0;
  border-radius: 10px;
  --border-width: 0;
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
  span {
    margin: 0 auto;
    font-weight: 200;
  }
}

#suggestions .search-result {
  padding: 8px 8px 8px 15px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  --background: none;
  padding: 0;

  &.recorded {
    opacity: 0.5;
  }

  &:nth-child(odd) {
    background-color: #fff;
    border-radius: 10px;
  }

  &:hover {
    background-color: var(--ion-color-light);
  }

  button {
    width: 20%;
    max-width: 80px;
    right: 0;

    background-color: transparent;
    border: none;

    //left line
    &:after {
      content: '';
      background: var(--ion-color-light-shade);
      position: absolute;
      bottom: 9px;
      left: 0;
      height: 63%;
      width: 1px;
    }
  }

  button.edit-shortcut {
    height: 47px;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  div.taxon {
    white-space: normal;
    overflow: visible;
    font-weight: normal;
    margin-bottom: 3px;
    margin-top: 3px;
    line-height: 20px;
  }

  span.group {
    position: absolute;
    right: 22%;

    &.right {
      right: 2%;
    }

    bottom: -2px;
    font-weight: 200;
    font-size: 14px;
    color: var(--ion-color-dark);
  }

  @media only screen and (min-width: 400px) {
    span.group {
      right: 90px;
    }
  }

  &.selected {
    background-color: var(--ion-color-light-shade);

    button {
      border-left: 1px var(--ion-color-medium) solid;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
