#main {
  ion-tab-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    contain: none;
    border-top: 1px solid var(--ion-color-light-shade);
    padding: 3px 0;
    padding-bottom: var(--ion-safe-area-bottom, 0);
    --background: white;

    ion-icon {
      font-size: 2rem;
    }

    ion-tab-button {
      max-width: 20vw;
      --padding-start: 3;
      --padding-end: 3;

      ion-icon {
        --ionicon-stroke-width: 20px;
      }

      &.tab-selected {
        ion-label {
          font-family: 'Quicksand Bold' !important;
        }
      }

      ion-label.md {
        margin-bottom: 2px;
      }
    }
  }
}
