#main {
  ion-tab-bar {
    contain: none;

    ion-tab-button {
      max-width: 20vw;
    }

    .add-survey {
      background-color: var(--ion-color-light);
      margin-top: -22px;
      height: 64px;
      max-width: 64px;
      box-shadow: inset 0px 0 2px 0px;
      border-radius: 50%;
    }
  }

  £ > ion-router-outlet > div > div {
    display: inherit !important;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    contain: size layout style;
  }
}

#home-report {
  .empty {
    width: 80%;
    max-width: 250px;
    margin: 100px auto 0;
    --border-width: 0;
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);

    span {
      margin: 0 auto;
      font-weight: 200;
    }
  }
}
