.ion-page#language-select {
  .header {
    padding: 35px;

    * {
      width: 100%;
      font-weight: 300;
      text-align: center;
    }
  }
}

#language-select.safeAreaPadding {
  padding-top: var(--ion-safe-area-top, 0);
}
