#transect-section-edit {
  ion-item {
    --border-style: solid;
  }

  div.rounded {
    > ion-item-sliding:last-child {
      ion-item {
        --border-style: none;
      }
    }

    > :last-child {
      --border-style: none;
    }

    div:last-child {
      ion-item {
        --border-style: none;
      }
    }
  }

  #add {
    margin-top: 50px;
    max-width: 60%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    --border-radius: 10px;

    ion-label {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 90%;
    }
  }

  #species-list-sort {
    text-align: end;
    ion-button {
      margin-right: 5px;
    }
  }

  #list {
    ion-item {
      --padding-start: 0;

      ion-label {
        margin-left: 16px;
        font-weight: 700;
      }
    }

    ion-item {
      --padding-start: 0;
    }
  }
}
