#transect-section-edit {
  ion-list {
    margin-bottom: 0;
  }

  #countdown {
    opacity: 1;
  }

  #countdown span {
    width: 50px;
    display: inline-block;
    text-align: left;
    opacity: 0.5;

    &.paused {
      opacity: 1;
      width: inherit;
      padding: 0 10px;
      color: var(--ion-color-tertiary);
    }

    &.warn {
      opacity: 1;
      color: var(--ion-color-danger);
    }
  }

  #add {
    margin-top: 50px;
  }

  #species-list-sort {
    text-align: end;
    ion-button {
      margin-right: 5px;
    }
  }

  #list {
    font-weight: bold;

    ion-label {
      margin-left: 8px;
    }

    .transect-edit-count {
      margin: 0;
      max-width: 40px;
      font-size: 1.3em;
      // border-right: 1px solid rgba(0, 0, 0, 0.13);
      padding-right: 8px;
    }
  }
}
