#home-user-surveys {
  margin-top: 0; // to counter the ion-safe-area-top which is calculated in JS

  .start-survey-icon {
    margin: 0 5px -7px 8px;
    border-radius: 50%;
    background: var(--ion-color-primary);
    padding: 5px;
    color: white;
  }

  ion-header ion-toolbar {
    --background: transparent;
    position: fixed;
    color: var(--ion-color-main);

    ion-segment {
      z-index: 100000000;
      margin: 8px auto;

      box-shadow:
        -1px 2px 7px 0 #0000001a,
        0 2px 9px 0 #3e396b1a;
      border-radius: var(--theme-border-radius);
      background: #fff;
      max-width: calc(
        100% - 20px
      ); // -20px to match the padding of the list below

      ion-segment-button.md {
        --padding-end: 5px;
        --padding-start: 5px;
      }

      &[value='map'] {
        border-radius: var(--theme-border-radius);
        background: rgba(255, 255, 255, 0.9);
      }

      ion-badge {
        display: inline;
        vertical-align: top;
        margin: 3px;
        margin-left: 3px;
      }

      ion-label {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
    }
  }

  ion-content {
    --padding-top: env(safe-area-inset-top) !important;
    --overflow: hidden;

    ion-list {
      margin: 0 auto;
      padding: 0 !important;
      width: calc(100% - 20px);
      max-width: 600px; // ipad
      height: 100%;
    }
  }

  ion-item-divider {
    border-radius: var(--theme-border-radius);
    background: #dcdae0 !important;
    padding: 0px 4px 0 12px;
    color: #080014;
  }
}

html.plt-tablet {
  #surveys-list.ion-page ion-segment {
    max-width: calc(600px - 20px);
  }
}
