#surveys-list.ion-page {
  .start-survey-icon {
    background: var(--ion-color-primary);
    border-radius: 50%;
  }

  ion-segment {
    max-width: calc(100% - 20px); // padding for lists
    margin: 8px auto;
    z-index: 100000000;

    &[value='map'] {
      background: rgba(255, 255, 255, 0.9);
    }

    ion-badge {
      vertical-align: top;
      margin: 3px;
      margin-left: 3px;
    }
    .ion-badge-custom-color {
      color: var(--ion-color-primary);
    }

    ion-label {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-left: 1px;
    }
  }

  .upload-all-button {
    margin: 10px auto;
    height: 35px !important;
    display: block;
    position: fixed;
    right: 17px;
    bottom: 5px;
    overflow: hidden;
    border-radius: var(--theme-border-radius);
    box-shadow: -1px 2px 7px 0 #0000001a, 0 2px 9px 0 #3e396b1a;
    --background: var(--ion-color-secondary);

    &.ios {
      font-size: 0.9em;
    }
  }
}

html.plt-tablet {
  #surveys-list.ion-page ion-segment {
    max-width: calc(600px - 20px);
  }
}
