.gps-subheader {
  --background: var(--ion-color-warning);
  padding: 5px;
  --min-height: 16px !important;

  .gps-permission {
    background: var(--ion-color-warning);
    padding: 0 5px;
    color: var(--ion-color-warning-contrast);
    font-size: 0.8em;
    text-align: center;
  }
}
