#home-user-surveys {
  ion-refresher {
    z-index: 10;
  }

  .survey-list-loader {
    border-radius: var(--theme-border-radius);
    background: transparent;
    --background: transparent;
    --border-style: 0;

    div {
      width: 100%;
      max-width: 600px;
      height: 73px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
