.species-list-item.unknown {
  .profile-photo {
    position: relative;
    background-color: #f8f2e6;
    min-width: 60px;
    max-width: 60px;
    height: 48px;
    overflow: hidden;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  div {
    .warning-message {
      margin-top: 3px;
      margin-left: 15px;
      border-radius: 10px;
      background: #f8f2e6;
      padding: 1px 5px;
      color: #b69143;
      font-size: 0.8em;
    }

    .warning-message.ios {
      font-weight: 500 !important;
      font-size: 0.6em;
    }
  }

  ion-icon {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    color: #b38b39;
  }

  ion-label.identifying {
    color: red;
    font-style: italic;
  }

  ion-spinner.identifying {
    opacity: 0.5;
    margin-right: 2px;
    width: 15px;
  }
}
