#bottom-sheet {
  z-index: 10000 !important;
  --height: 80vh;

  // tablet-friendly
  max-width: 600px;
  margin: 0 auto;

  &::part(handle) {
    margin-top: 7px;
  }

  ion-toolbar {
    --background: white;
    --min-height: 35px;
  }

  ion-toolbar.ios {
    --min-height: 20px;
  }

  ion-content {
    --background: white;
  }

  ion-item.moth-trap {
    height: 80px;
    border-bottom: 1px solid #e1e1e1;
    --inner-border-width: 0;
    --padding-start: 5px;
    --inner-padding-end: 5px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;

    .info {
      display: flex;
      width: 100%;

      .avatar {
        flex: 1;
        align-items: center;
        justify-content: center;
        background: #eceaed;
        display: flex;
        margin: 5px 5px 5px 0;
        border-radius: 10px;
        max-width: 65px;
        width: 100%;

        ion-icon {
          justify-content: center;
          font-size: 2.1em;
          color: var(--ion-color-primary-shade);
        }
      }

      .label {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h4 {
          font-weight: 800;
          max-width: 50vw;
          color: #3b2354;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 5px;
          margin-left: 7px;
        }

        ion-label {
          font-size: 0.9em;
          color: var(--ion-color-primary-shade);
          font-weight: 500;
          display: flex;
          flex-direction: row;
          text-align: center;
          align-items: center;

          ion-icon {
            font-size: 1.5em;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .right-slot {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        margin-bottom: 12px;

        ion-icon {
          font-size: 1.2em;
          color: var(--ion-color-primary);
        }

        span {
          font-weight: 700;
          font-size: 0.9em;
          color: #3c2354;
          white-space: nowrap;
        }

        &.selected ion-icon {
          height: 100%;
          padding-top: 20px;
          font-size: 2em;
          color: var(--ion-color-success-shade);
        }
      }

      .draft {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
      }
    }
  }
}
