#bottom-sheet {
  z-index: 10000 !important;

  // tablet-friendly
  max-width: 600px;
  margin: 0 auto;

  .react-modal-sheet-header {
    height: 30px !important;
  }

  .box-container {
    height: 80px;
    border-bottom: 1px solid #e1e1e1;
    --inner-border-width: 0;
    --padding-start: 5px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;

    .box {
      display: flex;
      width: 100%;

      .icon {
        flex: 1;
        align-items: center;
        justify-content: center;
        background: #efefef;
        color: white;
        display: flex;
        margin: 5px 13px 5px 0;
        border-radius: 10px;
        max-width: 70px;
        width: 100%;

        ion-icon {
          justify-content: center;
          font-size: 30px;
          color: #745a8f;
        }
      }

      .label {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h4 {
          margin: auto 0;
          font-weight: 900;
          max-width: 50vw;
          color: #3b2354;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        ion-label {
          font-size: 0.9em;
          color: #422b5a;
          font-weight: 500;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .right-slot {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        margin-bottom: 12px;

        ion-icon {
          font-size: 1.2em;
          color: var(--ion-color-primary);
        }

        span {
          font-weight: 900;
          font-size: 0.9em;
          color: #3c2354;
          white-space: nowrap;
        }

        &.selected ion-icon {
          height: 100%;
          padding-top: 20px;
          font-size: 2em;
        }
      }

      .draft {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
      }
    }
  }
}
