#bottom-sheet {
  z-index: 10000 !important;
  --height: 80vh;

  // tablet-friendly
  max-width: 600px;
  margin: 0 auto;

  &::part(handle) {
    margin-top: 7px;
  }

  ion-toolbar {
    --background: white;
    --min-height: 35px;
  }

  ion-toolbar.ios {
    --min-height: 20px;
  }

  ion-content {
    --background: white;
  }
}
