#surveys-list.ion-page {
  ion-segment {
    margin-bottom: 30px;

    ion-segment-button {
      width: 33%;
      z-index: 10000000;
      &:not(.segment-button-checked) {
        background: white;
      }
    }

    ion-badge {
      vertical-align: top;
      margin: 3px;
      margin-left: 3px;
    }
    .ion-badge-custom-color {
      color: var(--ion-color-primary);
    }

    ion-label {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-left: 1px;
    }
  }

  .info-background-message {
    width: 80%;
    max-width: 250px;
    margin: 50px auto 0;
    --border-width: 0;
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);

    span {
      margin: 0 auto;
      font-weight: 200;
      text-align: center;
      padding: 20px 0;
    }

    ion-icon {
      background: var(--ion-color-primary);
      padding: 5px;
      border-radius: 10px;
      color: white;
      margin: 0 5px 0 8px;
      margin-bottom: -7px;
    }
  }
}
