#welcome-page {
  #welcome {
    position: fixed !important;
    top: 0;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;

    --bullet-background-active: white;

    $bottom: 16vh;

    button {
      position: absolute;
      bottom: 7%;

      &.skip {
        left: 9%;
      }
      &.next {
        right: 9%;
      }
    }

    .message {
      position: absolute;
      width: 70%;

      @apply overflow-hidden rounded-md border border-solid border-primary-200 bg-white/70 px-6 py-3 text-lg font-light text-primary-900 backdrop-blur-sm backdrop-filter;

      // Hack around the tablet hidden message issue
      @media only screen and (min-width: 650px) {
        left: 50% !important;
        margin-left: -325px !important;
      }
    }

    .swiper-pagination-bullets {
      bottom: 3%;

      .swiper-pagination-bullet {
        background: black;
      }

      .swiper-pagination-bullet-active {
        background: var(--ion-color-primary);
      }
    }

    .swiper-slide {
      &.first {
        background: url('images/welcome_1.jpg') no-repeat;
        background-position: bottom;
        background-size: contain;

        .message {
          top: 14vh;
          text-align: left;
        }
      }

      &.second {
        background: url('images/welcome_2.jpg') no-repeat;
        background-position: left;
        background-size: cover;

        .message {
          bottom: 20vh;
          left: 10vw;
          text-align: left;
        }

        ion-button {
          --ion-color-contrast: var(--ion-color-primary) !important;
        }
      }

      &.third {
        background: url('images/welcome_3.jpg') no-repeat;
        background-position: left;
        background-size: contain;
        .message {
          bottom: 13vh;
          text-align: left;
        }
      }

      &.fourth {
        background: url('images/welcome_4.jpg') no-repeat;
        background-position: left;
        background-size: cover;
        .message {
          right: 10vw;
          bottom: $bottom;
          text-align: left;
        }
      }
    }
  }

  ion-footer ion-toolbar {
    --background: transparent;
    --border-color: transparent;
    position: absolute;
    bottom: 0;

    ion-button {
      margin: 10px;
      width: 50px;
      height: 50px;
    }
  }
}
