#welcome-page {
  #welcome {
    position: fixed !important;
    top: 0;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;

    --bullet-background-active: white;

    $bottom: 16vh;

    button {
      position: absolute;
      bottom: 7%;

      &.skip {
        left: 9%;
      }
      &.next {
        right: 9%;
      }
    }

    .swiper-pagination-bullets {
      bottom: 3%;

      .swiper-pagination-bullet {
        background: black;
      }

      .swiper-pagination-bullet-active {
        background: var(--ion-color-primary);
      }
    }

    .swiper-slide {
      &.second {
        background: url('images/welcome_2.jpg') no-repeat;
        background-position: center;
        background-size: cover;

        ion-button {
          --ion-color-contrast: var(--ion-color-primary) !important;
        }
      }

      &.fourth {
        background: url('images/welcome_4.jpg') no-repeat;
        background-position: left;
        background-size: cover;
      }
    }
  }

  ion-footer ion-toolbar {
    --background: transparent;
    --border-color: transparent;
    position: absolute;
    bottom: 0;

    ion-button {
      margin: 10px;
      width: 50px;
      height: 50px;
    }
  }
}
