#home-report.ion-page ion-content {
  .home-report-label {
    text-transform: uppercase;
    white-space: normal;
    padding: 10px 0;
  }

  .report-common-name-label {
    margin: 0;
  }
  .report-taxon-label {
    opacity: 0.6;
  }
  .report-count-label {
    max-width: 50px;
  }

  .list-header-labels {
    --min-height: 0px;

    ion-label {
      margin: 7px 0;
    }

    .ion-text-right {
      text-align: right;
    }
  }

  .refreshing {
    opacity: 0.5;
  }
}

html[mode='ios'] .home-report-label {
  font-size: 0.9em;
}
