#home-report.ion-page ion-content {
  .home-report-label {
    padding: 10px 0;
    width: 100%;
    text-transform: uppercase;
    white-space: normal;
    --padding-start: 4px;
  }

  ion-spinner.centered {
    position: fixed;
    top: 50%;
    left: 50%;
  }

  .list-header-labels {
    --min-height: 0px;

    ion-label {
      margin: 7px 0;
    }

    .ion-text-right {
      text-align: right;
    }
  }

  .refreshing {
    opacity: 0.5;
  }
}

html[mode='ios'] .home-report-label {
  font-size: 0.9em;
}
