#img-array {
  .warning-icon {
    position: absolute;
    right: 0px;
    bottom: 5px;
    border-radius: 100%;
    background: #fff1f1;
    padding: 3px;
    color: var(--ion-color-danger);
    font-size: 1em;
  }

  ion-spinner {
    position: absolute;
    right: 0;
    bottom: 4px;
    border-radius: 50%;
    background: #ffffff94;
    width: 23px;
    height: 23px;
  }
}

.re-identify-button {
  --padding-start: 0;
  --padding-end: 0;
  border-radius: 10px;
  background: var(--ion-color-primary);
  padding: 0px 15px;
  color: #fff;
  font-size: 18px;

  ion-icon {
    margin-right: 15px;
  }
}

.gallery-ai-message {
  font-weight: 400;

  b {
    color: var(--ion-color-danger);
    font-size: 1.1em;
  }
}
