#transect-list {
  .empty {
    width: 80%;
    max-width: 250px;
    margin: 100px auto 0;
    border-radius: 10px;
    --border-width: 0;
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
    span {
      margin: 0 auto;
      font-weight: 200;
      text-align: center;
      padding: 15px;
    }
  }

  .transect svg {
    margin: 5px;
  }

  ion-item {
    ion-label[slot='start'] {
      white-space: normal;
    }
  }
}
