#area-edit-toolbar {
  --background: var(--ion-color-primary-tint);
  --min-height: 33px;
  ion-title {
    font-size: 0.8em;

    .text-with-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
}

html[mode='ios'] {
  #area-edit-toolbar {
    ion-title {
      padding: 0;
    }
  }
}

#toggle-info {
  display: none;
}
#toggle-info + label {
  font-size: 1.7em;
  width: 20px;
  height: 20px;
  margin: 4px;
  display: block;
  background: #ffffff4d;
  border-radius: 50%;
}
#toggle-info:checked + label {
  display: none;
}
#toggle-info:checked + label + div {
  background: #ccccccc7;
  padding: 3px 5px;
  border-radius: 6px;
  margin: 5px;
}

#toggle-info:not(:checked) + label + div {
  display: none;
}

#bottom-sheet-tracks {
  --height: 95vh;

  .info-background-message {
    max-width: 300px;

    span {
      padding: 20px 10px;
    }
  }

  &::part(handle) {
    margin-top: 10px;
  }

  ion-toolbar {
    --background: var(--ion-page-background);
    --min-height: 35px;
  }
}
