#area-edit-toolbar {
  --background: var(--ion-color-primary-tint);
  --min-height: 33px;
  padding: 5px;

  ion-title {
    font-size: 0.8em;

    .text-with-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
}

html[mode='ios'] {
  #area-edit-toolbar {
    ion-title {
      padding: 0;
    }
  }
}

#bottom-sheet-tracks {
  --height: 95vh;

  .info-background-message {
    max-width: 300px;

    span {
      padding: 20px 10px;
    }
  }

  &::part(handle) {
    margin-top: 10px;
  }

  ion-toolbar {
    --background: var(--ion-page-background);
    --min-height: 35px;
  }
}
