#species-profile {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  ion-card-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .species-label {
    font-weight: bold;
    border-left: 3px solid var(--ion-color-primary);
    padding-left: 5px;
    text-transform: uppercase;
    margin: 10px auto 15px;
  }
  .species-label.inline-label {
    display: inline-block;
    margin-right: 5px;
  }

  .species-habitats {
    text-transform: capitalize;
  }

  #species-map {
    height: 200px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #474c4a !important;
  }
}
