@import '@ionic/core/css/ionic.bundle.css';
@import '@flumens/ionic/dist/themes/rounded.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:not([role='button']) {
    // change link colours
    color: var(--ion-color-primary);
  }
  h1 {
    // tailwind is loaded later than ionic so resets some of the ionic's base styles
    @apply mt-5 text-2xl;
  }
}

:root {
  --ion-color-primary: var(--color-primary);
  --ion-color-primary-rgb: var(--color-primary-rgb);
  --ion-color-primary-contrast: var(--color-primary-50);
  --ion-color-primary-contrast-rgb: var(--color-primary-50-rgb);
  --ion-color-primary-shade: var(--color-primary-800);
  --ion-color-primary-tint: var(--color-primary-500);
  --ion-color-primary-dark: var(--color-primary-950);

  --ion-color-secondary: var(--color-secondary);
  --ion-color-secondary-rgb: var(--color-secondary-rgb);
  --ion-color-secondary-contrast: var(--color-secondary-50);
  --ion-color-secondary-contrast-rgb: var(--color-secondary-50-rgb);
  --ion-color-secondary-shade: var(--color-secondary-700);
  --ion-color-secondary-tint: var(--color-secondary-500);
  --ion-color-secondary-dark: var(--color-secondary-950);

  --ion-color-tertiary: var(--color-tertiary);
  --ion-color-tertiary-rgb: var(--color-tertiary-rgb);
  --ion-color-tertiary-contrast: var(--color-tertiary-50);
  --ion-color-tertiary-contrast-rgb: var(--color-tertiary-50-rgb);
  --ion-color-tertiary-shade: var(--color-tertiary-700);
  --ion-color-tertiary-tint: var(--color-tertiary-500);
  --ion-color-tertiary-dark: var(--color-tertiary-950);

  --ion-color-success: var(--color-success);
  --ion-color-success-rgb: var(--color-success-rgb);
  --ion-color-success-contrast: var(--color-success-50);
  --ion-color-success-contrast-rgb: var(--color-success-50-rgb);
  --ion-color-success-shade: var(--color-success-700);
  --ion-color-success-tint: var(--color-success-500);
  --ion-color-success-dark: var(--color-success-950);

  --ion-color-warning: var(--color-warning);
  --ion-color-warning-rgb: var(--color-warning-rgb);
  --ion-color-warning-contrast: var(--color-warning-50);
  --ion-color-warning-contrast-rgb: var(--color-warning-50-rgb);
  --ion-color-warning-shade: var(--color-warning-700);
  --ion-color-warning-tint: var(--color-warning-500);
  --ion-color-warning-dark: var(--color-warning-900);

  --ion-color-danger: var(--color-danger);
  --ion-color-danger-rgb: var(--color-danger-rgb);
  --ion-color-danger-contrast: var(--color-danger-50);
  --ion-color-danger-contrast-rgb: var(--color-danger-50-rgb);
  --ion-color-danger-shade: var(--color-danger-700);
  --ion-color-danger-tint: var(--color-danger-500);
  --ion-color-danger-dark: var(--color-danger-950);

  --ion-color-dark: var(--color-slate-900);
  --ion-color-dark-contrast: var(--color-slate-50);
  --ion-color-dark-shade: var(--color-slate-950);
  --ion-color-dark-tint: var(--color-slate-800);

  --ion-color-medium: var(--color-slate-400);
  --ion-color-medium-contrast: var(--color-slate-50);
  --ion-color-medium-shade: var(--color-slate-500);
  --ion-color-medium-tint: var(--color-slate-300);

  --ion-color-light: var(--color-white);
  --ion-color-light-contrast: var(--color-slate-950);
  --ion-color-light-shade: var(--color-slate-200);
  --ion-color-light-tint: var(--color-white);

  --ion-page-background: #f6f4f7;

  --ion-headings-font-weight: 300;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;

  --form-value-color: rgba(var(--color-tertiary-800-rgb), 0.85);
}

// status bar
html.ios.plt-hybrid #status-bar-background {
  background: #443553;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}

// info messages
.attr-page .info-message {
  @apply border-tertiary-300/40 bg-tertiary-50 text-tertiary-900;
}

// don't know why this is needed but it fixed location name being off
.location-name-attr .auto-suggest-input-attr ion-input {
  height: 30px;
}

// FONTS START
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url('./fonts/Quicksand-Bold.ttf');
}

ion-title,
h1 {
  font-family: 'Quicksand Bold' !important;
}

ion-item-divider,
ion-badge,
ion-label.bold,
ion-card-title,
b {
  font-family: 'Quicksand Bold' !important;
}

.apps-section .apps-section-h,
h2,
h3,
h4,
h5,
p,
i,
div,
input,
ion-button,
button,
span,
ion-back-button,
ion-item-option,
ion-note,
ion-label,
ion-chip,
ion-item {
  font-family: 'Quicksand' !important;
}
// FONTS END

// training subheader
.training-survey {
  background: black;
  text-align: center;
  padding: 4px;
  color: white;
  font-size: 0.8em;
}

.item-interactive-disabled img,
.item-interactive-disabled ion-img {
  opacity: 0.3;
}

// Display occurrence taxon name as Common and scientific names.
.taxon-entry {
  ion-label[slot='end'] {
    white-space: inherit !important;
    max-width: 50% !important;

    ion-label {
      white-space: nowrap !important;
    }
  }
}

// disable Ionic default button height - used for smaller buttons e.g. map controls
ion-button {
  min-height: 0;
}

/** Ionic 7 fixes START **/

// Fix chip outline
.chip-outline {
  border-width: 1px;
  border-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.32);
}

// Fix end-slot label placement
ion-label[slot='end'] {
  text-align: right;
}

// Fix cropped radio button icons
ion-radio {
  padding-right: 1px;
}

ion-list.apps-section {
  margin-left: 0;
  margin-right: 0;
}

.checkbox-input-attr .hasIcon ion-checkbox {
  max-width: 85%;
}

ion-item.menu-attr-item ion-label[slot='end'] {
  max-width: 33%;
}

/** Ionic 7 fixes END **/

// list item picture
.list-avatar {
  @apply flex size-14 shrink-0 items-center justify-center overflow-hidden rounded-md bg-neutral-100;
}

// top of the list title
.list-title {
  @apply mx-2 mb-3 mt-5 flex items-center text-[1.0625rem] text-primary-950;
}

// top of the list item
.list-divider {
  @apply flex items-center justify-between bg-neutral-200/70 p-1 px-2 text-sm text-neutral-600;
}

// Make Android icons dark, same as iOS
ion-icon[slot='start'].md {
  color: var(--ion-text-color, #000);
}

// Makes iOS menu items same height as Android
ion-item .sc-ion-label-ios-h.sc-ion-label-ios-s.ios {
  margin-top: 12px;
  margin-bottom: 12px;
}

// Add padding to pages
ion-content {
  --padding-top: 5px;
  --padding-bottom: 30px;
}

// Make menu item value colours same as form values, e.g. Settings page
ion-item .sc-ion-label-md-h.sc-ion-label-md-s.md[slot='end'],
ion-item .sc-ion-label-ios-h.sc-ion-label-ios-s.ios[slot='end'] {
  color: var(--form-value-color);
}
