@import '@flumens/ionic/dist/themes/rounded.css';

:root {
  --ion-color-primary: #745a8f;
  --ion-color-primary-rgb: 116, 90, 143;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5f4779;
  --ion-color-primary-tint: #a98fc4;
  --ion-color-primary-dark: #170030;

  --ion-color-secondary: #df9100;
  --ion-color-secondary-rgb: 223, 145, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #af7201;
  --ion-color-secondary-tint: #fdc45b;
  --ion-color-secondary-dark: #3a2600;

  --ion-color-tertiary: #008eec;
  --ion-color-tertiary-rgb: 0, 142, 236;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #007dd0;
  --ion-color-tertiary-tint: #1a99ee;
  --ion-color-tertiary-dark: #001a2c;

  --ion-color-success: #00bd1a;
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a617;
  --ion-color-success-tint: #1ac431;
  --ion-color-success-dark: #002b06;

  --ion-color-warning: #df9100;
  --ion-color-warning-rgb: 223, 145, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #af7201;
  --ion-color-warning-tint: #fdc45b;
  --ion-color-warning-dark: #3a2600;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 240, 65, 65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  --ion-color-danger-dark: #300000;

  --ion-color-dark: var(--ion-color-primary-dark);
  --ion-color-dark-rgb: 49, 42, 56;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: var(--ion-color-primary-dark);
  --ion-color-dark-tint: var(--ion-color-primary-dark);

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-page-background: #f6f4f7;

  --ion-headings-font-weight: 300;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;
}

// status bar
html.ios.plt-hybrid #status-bar-background {
  background: #443553;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}

// info messages
.attr-page .info-message,
.info-message.blue {
  --background: rgba(var(--ion-color-tertiary-rgb), 0.1);
  background: white; // above is transparent

  ion-note {
    color: var(--ion-color-tertiary-dark);
    font-size: 1em;
  }
  ion-icon {
    color: var(--ion-color-tertiary-dark) !important;
  }
}

// don't know why this is needed but it fixed location name being off
.location-name-attr .auto-suggest-input-attr ion-input {
  height: 30px;
}

// FONTS START
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url('./fonts/Quicksand-Bold.ttf');
}

ion-title,
h1 {
  font-family: 'Quicksand Bold' !important;
}

ion-item-divider,
ion-badge,
ion-label.bold,
ion-card-title,
b {
  font-family: 'Quicksand Bold' !important;
}

.apps-section .apps-section-h,
h2,
h3,
h4,
h5,
p,
i,
div,
input,
ion-button,
button,
span,
ion-back-button,
ion-item-option,
ion-note,
ion-label,
ion-chip,
ion-item {
  font-family: 'Quicksand' !important;
}
// FONTS END

// ??
html[mode='ios'] .tabs-inner {
  margin-top: var(--ion-safe-area-top);
}

// training subheader
.training-survey {
  background: black;
  text-align: center;
  padding: 4px;
  color: white;
  font-size: 0.8em;
}

// checkbox input subEntry
.checkbox-subEntry {
  width: 85%;
  margin: 10px 10px 10px auto !important;
}

.item-interactive-disabled img,
.item-interactive-disabled ion-img {
  opacity: 0.3;
}

.primary-button {
  --padding-start: 17px !important;
  --padding-end: 17px !important;
}
