/* Ionic Variables and Theming. For more information, please see
// https://beta.ionicframework.com/docs/theming/
// The app direction is used to include
// rtl styles in your app. For more information, please see
// https://beta.ionicframework.com/docs/layout/rtl
// $app-direction: ltr;
// Ionic Colors
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic provides eight layered colors
// that can be changed to theme an app. Additional colors can be
// added as well (see below). For more information, please see
// https://beta.ionicframework.com/docs/theming/advanced
// To easily create custom color palettes for your app’s UI,
// check out our color generator:
// https://beta.ionicframework.com/docs/theming/color-generator
*/
:root {
  --ion-color-primary: #745a8f;
  --ion-color-primary-rgb: 165, 106, 3;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5f4779;
  --ion-color-primary-tint: #a98fc4;

  --ion-color-secondary: #008eec;
  --ion-color-secondary-rgb: 0, 142, 236;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #007dd0;
  --ion-color-secondary-tint: #1a99ee;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #00bd1a;
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a617;
  --ion-color-success-tint: #1ac431;

  --ion-color-warning: #df9100;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #af7201;
  --ion-color-warning-tint: #fdc45b;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #312a38;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-page-background: #f4f5f8;
}

/* Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the CSS variables found in Ionic's source files.
// To view all the possible Ionic variables, see:
// https://beta.ionicframework.com/docs/theming/css-variables#ionic-variables
*/

:root {
  --ion-headings-font-weight: 300;
  // --ion-item-border-color: red;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);
}

.ios,
.md {
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;
}

ion-toolbar {
  --min-height: 54px;
}

.sc-ion-back-button-ios-h {
  --color: var(--ion-toolbar-color);
}

ion-icon[faint] {
  opacity: 0.6;
}

.info-background-message {
  --background: white;
  margin-bottom: 40px;
}

.attr-page .info-message,
.info-message.blue {
  --background: #d9ecf8;

  ion-note {
    color: #00395c;
    font-size: 1em;
  }
  ion-icon {
    color: #00395c !important;
  }
}

ion-label[slot='end'] {
  text-align: right;
  opacity: 0.5;
}

button.alert-button.secondary {
  font-weight: normal !important;
}
button.alert-button.primary {
  font-weight: 700;
}

button.alert-button.danger {
  color: var(--ion-color-danger) !important;
  font-weight: normal !important;
}

ion-label {
  &.warn {
    color: var(--ion-color-warning) !important;
    opacity: 1;
  }
  &.error {
    color: var(--ion-color-danger) !important;
    opacity: 1;
  }
}

html[mode='ios'] ion-toolbar {
  ion-button {
    color: var(--ion-color-primary-contrast);
  }
}

html[mode='ios'] ion-input,
html[mode='ios'] ion-textarea {
  --padding-start: 7px;
}

html[mode='ios'] .tabs-inner {
  margin-top: var(--ion-safe-area-top);
}

html[mode='md'] .action-sheet-group-cancel button {
  font-weight: bold;
}

html[mode='md'] ion-item ion-label[slot='end'] {
  margin-right: 5px;
}

ion-label.ion-text-wrap.normal-font-size {
  font-size: inherit;
}

ion-button[type='submit'] {
  width: 40%;
  margin: 20px auto 40px;
}

ion-alert {
  ion-list,
  ion-item {
    background: none;
    --background: none;
  }
}

ion-item.locked {
  ion-label[slot='end'] {
    color: var(--ion-color-secondary);
  }
}

ion-spinner.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

.collapse-block {
  visibility: visible;
  --inner-border-width: 0;
}

.ion-no-padding {
  padding: 0;
}

html.ios.plt-hybrid #status-bar-background {
  background: #443553;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.gallery-modal {
  z-index: 300000;
}

/* ROUND-THEME START */
body {
  background-color: var(--ion-page-background);
}

ion-content {
  --background: var(--ion-page-background);
}

ion-content > ion-list > ion-item-divider:first-of-type,
ion-content > ion-list > .rounded:first-of-type:first-child {
  margin-top: 10px;
}

*:not(.rounded) > .info-message {
  border-radius: 10px;
  margin: 10px;
  --border-color: transparent;
}

ion-item-divider {
  border: 0;
  font-weight: normal;
}

ion-input,
ion-textarea {
  margin: 10px auto !important;
  max-width: 95%;
  border-radius: 10px;
}

.item-datetime,
.checkbox-input-attr ion-item,
ion-radio-group ion-item {
  --border-style: none;
  border-radius: 10px;
  margin: 10px;
}

.info-background-message {
  border-radius: 10px;

  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05),
    0 2px 9px 0 rgba(62, 57, 107, 0.05);
}

div.rounded {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;

  > :last-child {
    --border-style: none;
  }

  div:last-child {
    ion-item {
      --border-style: none;
    }
  }
}

ion-list {
  padding: 0 10px !important;
}

ion-list,
ion-item-divider {
  background: transparent !important;
}

.attr-page {
  ion-input,
  ion-textarea {
    background: var(--ion-color-light) !important;
    padding: 0 10px;
  }
}

.apps-section * {
  --background: transparent;
}

ion-radio-group {
  .item-radio-checked:not(.radio-input-default-option) {
    --background: var(--ion-color-primary-tint);
    color: var(--ion-color-light);
    --color-activated: var(--ion-color-light);
  }

  ion-label {
    font-weight: 500;
  }
}

.slider-input-attr {
  margin: 0 10px;
  border-radius: 10px;
  --border-color: transparent;
}

.error-container .error-message {
  background: white;
}

.apps-section * {
  --background: transparent;
}

.info-background-message {
  ion-button {
    margin-left: 10px;

    color: var(--ion-color-medium);
    --border-color: var(--ion-color-medium);
  }
  span {
    text-align: left;
  }
}

/* ROUND-THEME END */

.radio-input-attr ion-item ion-label {
  font-weight: 500;
}

/* Tablet-friendly */
html.plt-tablet {
  .info-message,
  .item-datetime,
  ion-list,
  ion-textarea {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.photo-picker {
  --inner-padding-end: 0;

  #img-picker-array .img {
    margin-right: 5px;
    .delete {
      background-color: #80808085;
    }
  }

  #img-picker-array .img-picker {
    border-right: none;

    ion-button {
      background: #745a8f4f;
      margin: 5px;
      height: calc(80px - 10px);
      width: calc(80px - 10px);
      border-radius: 15px;
      transform: none;
    }
  }
}

.alert-message {
  text-align: left !important;
  font-size: 1em !important;
}

div.rounded .attr {
  ion-item {
    margin: 0 !important;
    --border-radius: none;
    border-radius: 0;
  }
}

ion-datetime {
  opacity: 0.5;
}
