#survey-moth-home {
  #list {
    .species-list-header {
      background: #e6e6e6 !important;
      color: #777777;

      padding-left: 7px;
      --inner-padding-end: 0;
      &.ios {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      ion-label {
        width: 100%;
        text-align: center;
        font-weight: normal;
        font-size: 0.9em;

        &:nth-of-type(2) {
          padding-left: 16px;
          text-align: left;
        }
        &:first-of-type {
          max-width: 54px;
          overflow: hidden;
          white-space: nowrap;
        }
        &:last-of-type {
          max-width: 50px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
    .species-list-header.unknown {
      ion-label {
        max-width: 50%;
        padding-left: 6px;
        text-align: left;
      }

      ion-label.full-width {
        max-width: 100%;
      }

      .count {
        max-width: 50px;
        padding-left: 0;
        text-align: center;
      }

      ion-button {
        margin: 5px auto;
        white-space: normal;
      }
    }

    ion-item {
      --padding-start: 0;

      ion-label {
        margin-left: 16px;
        font-weight: 700;
      }
    }

    ion-item {
      --padding-start: 0;
    }
  }

  #species-list-sort {
    text-align: end;
    ion-button {
      margin-right: 5px;
    }
  }
}
