#survey-moth-home {
  .add {
    width: 40%;
    margin: 20px 0 30px;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }

  #list {
    font-weight: bold;

    .species-list-header {
      background: #e6e6e6 !important;
      color: #777777;

      padding-left: 7px;
      --inner-padding-end: 0;
      &.ios {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      ion-label {
        width: 100%;
        text-align: center;
        font-weight: normal;
        font-size: 0.9em;

        &:nth-of-type(2) {
          padding-left: 16px;
          text-align: left;
        }
        &:first-of-type {
          max-width: 54px;
        }
        &:last-of-type {
          max-width: 50px;
        }
      }
    }

    ion-item {
      --padding-start: 0;

      ion-label {
        margin-left: 16px;
        font-weight: 700;
      }
    }

    ion-item {
      --padding-start: 0;
    }

    .precise-area-count-edit-count {
      margin: 0;
      width: 62px;
      height: 100%;
      font-size: 1.3em;

      div.label-divider {
        height: 75%;
        border-right: 1px solid rgba(0, 0, 0, 0.13);
        position: absolute;
        right: -11px;
      }
    }
  }
}
