#survey-moth-detail {
  .attr.attr-date ion-item.ios {
    --border-width: 0 0 0.55px 0;
  }

  .attr.attr-date ion-item.md {
    --border-width: 0 0 1px 0;
  }

  ion-item-divider {
    max-width: 600px;
    margin: auto;
  }
}

#moth-trap-start-weather,
#attr-page-moonEnd,
#attr-page-moon {
  ion-img {
    max-width: 25px;
    margin: 0 10px;
    padding: 0;
  }
}

#moth-trap-end-weather,
#moth-trap-start-weather {
  .moonIcon ion-label[slot='end'] {
    opacity: 1;

    ion-img {
      width: 30px;
      margin: 0;
    }
  }
}
