ion-toolbar.species-searchbar {
  display: none;

  &.searching {
    display: block;
  }

  ion-searchbar {
    padding: 0 5px;
    height: 44px;
    text-align: left;
    --cancel-button-color: var(--ion-color-dark);

    &.ios {
      margin-top: 4px;
    }
  }
}
