#species-filter {
  margin-right: 10px;

  ion-icon {
    font-size: 2em;
  }

  ion-badge {
    position: absolute;
    top: 0px;
    right: 2px;
  }

  ion-badge.ios {
    padding: 2px;
  }

  ion-badge.md {
    border-radius: 9px;
    padding: 3px;
    color: var(--ion-color-light);
    font-weight: 500;
  }
}

ion-button.filter-button {
  --padding-end: 10px;
  --padding-start: 10px;
  --border-radius: var(--theme-border-radius) !important;
  max-width: 120px;

  ion-label {
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;

    b {
      letter-spacing: 2px;
    }
  }
}
