#filters-dialog-form {
  margin-top: 10px;

  .info-message,
  .info-message.blue {
    --background: rgba(var(--ion-color-tertiary-rgb), 0.1);
    background: white; // above is transparent

    ion-note {
      color: var(--ion-color-tertiary-dark);
      font-size: 1em;
    }
    ion-icon {
      color: var(--ion-color-tertiary-dark) !important;
    }
  }

  ion-item-divider {
    z-index: 1;
  }

  .taxon-groups {
    margin-top: 20px;

    ion-item {
      border-radius: var(--theme-border-radius);
      --border-radius: var(--theme-border-radius);
      --border-style: none;
    }
  }

  .attr-speciesGroups {
    background: var(--ion-page-background) !important;
  }

  img {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
  }
}

#species-filter {
  margin-right: 10px;

  ion-icon {
    font-size: 2em;
  }

  ion-badge {
    position: absolute;
    right: 2px;
    top: 0px;
  }

  ion-badge.ios {
    padding: 2px;
  }

  ion-badge.md {
    color: var(--ion-color-light);
    font-weight: 500;
    border-radius: 9px;
    padding: 3px;
  }
}

ion-button.filter-button {
  --padding-end: 10px;
  --padding-start: 10px;
  --border-radius: var(--theme-border-radius) !important;
  max-width: 120px;

  ion-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: hidden;

    b {
      letter-spacing: 2px;
    }
  }
}
